@import url('https://fonts.googleapis.com/css2? family= Roboto: 400,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #efefef;
}

body {
    font: 14px/1.5 roboto, s-serif;
    margin: 0;
}

h2 {
    margin-top: 40px;
    padding-left: 140px;
    font-size: 20px;
    font: normal 24px/1.5 'roboto', 's-serif';
}

header {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #06020c;
    overflow: hidden;
}

header h1 {
    float: center;
    font: normal 24px/1.5 'roboto', 's-serif';
    color: #efefef;
    font-size: 50px;
}

ul {
    list-style: none;
    border-bottom: 1px solid #eaeaee;
    background-color: #efefef;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    margin-bottom: 75px;
}

ul a {
    text-decoration: none;
    color: #fff;
    text-align: left;
    background-color: #bcb8c2;
    padding: 10PX 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;
    transition: 0.2s ease;
}

ul li a.active {
    background-color: #a5b4f3;
    pointer-events: none;
}

ul li a:hover {
    opacity: 1;
}

ul li {
    display: inline-block;
}

img {
    margin: 10px;
    border-radius: 50%;
}

.contenido {
    text-align: justify;
    font-size: 18px;
    margin: 90px;
}

@media (max-width:1000px) {
    header h1 {
        float: none;
    }
    header a {
        margin-top: 25px;
        float: none;
    }
}