body {
    margin: 10px;
    background-color: white;
}

#menu ul a {
    position: top;
    font-size: 25px;
    font-style: normal;
    color: rgb(223, 237, 240);
}

#enlaces ul a{
  text-align: left;
  color: silver;
  line-height: 20px;
}

label {
  color: #070504;
  font-size: 20px;
  display: inline-block;
  padding-left: 80%;
}

select {
  color: #070504;
  block-size: 20px;
  padding-left: 94%;
  box-sizing: content-box;
}

.button-add {
    transition-duration: 0.4s;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 25px;
  }
  .button-add:hover {
    background-color: #4CAF50;
    color: white;
  }

.page-nav {
    background-color: black;
    border: 1px solid white;}

    .page-nav h1 {
        margin: 30px;
        color: aliceblue;
        text-align: center;
    }
.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    border: 1px black;
}

.product-container {
    margin: 15px;
    position:relative;
    padding: 20px;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
  }

.product-container img {
    width: 300px;
    padding: 15px;
}

.button-add {
    transition-duration: 0.4s;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 10px 25px;
    left: 15px;
  }
  .button-add:hover {
    background-color: #4CAF50;
    color: white;
  }

  .name input {
    box-sizing: 50px;
  }
